[commit]
	gpgsign = true
[user]
	email = 94115482+Leonard53@users.noreply.github.com
	name = Leoanrd Yeung
[merge]
	conflictstyle = zdiff3
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
[core]
	pager = delta
[diff]
	algorithm = histogram
