# Start configuration added by Zim install {{{
#
# This is not sourced during shell startup, and it's only used to configure the
# zimfw plugin manager.
#

#
# Modules
#

# Sets sane Zsh built-in environment options.
zmodule environment
# Provides handy git aliases and functions.
zmodule git
# Applies correct bindkeys for input events.
zmodule input
# Sets a custom terminal title.
zmodule termtitle
# Utility aliases and functions. Adds colour to ls, grep and less.
zmodule utility

#
# Prompt
#

# Exposes to prompts how long the last command took to execute, used by asciiship.
zmodule duration-info
# Exposes git repository status information to prompts, used by asciiship.
zmodule git-info
# A heavily reduced, ASCII-only version of the Spaceship and Starship prompts.
zmodule asciiship
zmodule homebrew
zmodule pacman
#
# Completion
#

# Additional completion definitions for Zsh.
zmodule zsh-users/zsh-completions --fpath src
# Enables and configures smart and extensive tab completion.
# completion must be sourced after all modules that add completion definitions.
zmodule completion
zmodule exa
zmodule fzf
#
# Modules that must be initialized last
#

# Fish-like syntax highlighting for Zsh.
# zsh-users/zsh-syntax-highlighting must be sourced after completion
zmodule zsh-users/zsh-syntax-highlighting
# Fish-like history search (up arrow) for Zsh.
# zsh-users/zsh-history-substring-search must be sourced after zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
# Fish-like autosuggestions for Zsh.
zmodule zsh-users/zsh-autosuggestions

zmodule asciiship
zmodule zsh-users/zsh-completions --fpath src
zmodule completion
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions
#zmodule romkatv/powerlevel10k --use degit
zmodule https://github.com/akash329d/zsh-alias-finder.git
#zmodule https://github.com/xylous/alias-zsh.git
zmodule https://github.com/zshzoo/cd-ls.git
zmodule https://github.com/zuxfoucault/colored-man-pages_mod.git
zmodule https://github.com/zpm-zsh/colorize.git
zmodule https://github.com/birdhackor/zsh-exa-ls-plugin.git
zmodule https://github.com/lukechilds/zsh-nvm.git
zmodule https://github.com/mdumitru/git-aliases.git
zmodule https://github.com/nekofar/zsh-git-lfs.git
zmodule https://github.com/changyuheng/zsh-interactive-cd.git
zmodule https://github.com/paulmelnikow/zsh-startup-timer.git
zmodule https://github.com/laggardkernel/zsh-thefuck.git
zmodule https://github.com/lukechilds/zsh-better-npm-completion.git
zmodule https://github.com/g-plane/zsh-yarn-autocompletions.git
zmodule https://github.com/zsh-users/zsh-apple-touchbar
zmodule https://github.com/bigH/git-fuzzy
# }}} End configuration added by Zim install

